body {	 
	margin: 0;
	padding: 0;

}
/*-----PART1 HEADER START-----*/

.header {
	height: 100px;
	background: #00000;
	width: 100%;
	top: 0;
	position: fixed;
	z-index:1;
	/*  z-index:2; olyan mint a layer, lehetőleg ezt replacelni kéne valami más methodal ami kitolja  */
}
.test img:last-child {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s;
}
.test:hover img:last-child {
  opacity: 1;
}
#logo{
    position: absolute;
    width:100px;
    height:100px;
    border:0;
    left:20%;
}
li.header {
	display: inline-block;
	margin-right: 1em;
}
a.header {
	color: black;
	font-family: helvetica;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 40px;
}
/*-----BODY START-----*/
section {
	color: black;
	text-align: center;
}
div {
	
}

/*----PART1 BODY END-----*/


/*-----PART2 HEADER START-----*/
ul.ul-one {
	float: right;
	list-style-type: none;
	padding-top: 1.5em;
}
ul.ul-two {
	position: absolute;
	top: 20%;
	width: 700px;
	left: 55%;
	font-size: 30px;
}
a{
    family-font:arial;
    color: black;
    font-style: arial;
}
a:hover{

    color: black;
    font-style: arial;
}
#pagebone:hover{
    border-radius: 15px;
    background: #d6a23f;
    transition: .5s ease;
}
#pagebtwo:hover{
    border-radius: 15px;
    background: #d6a23f;
    transition: .5s ease;
}
#pagebone{
	margin-left: 20px;
	color: black;
	font-family: helvetica;
	text-decoration: none;
	text-transform: uppercase;
	position: absolute;
	top: 25px;
	right: 25%;
	font-family: helvetica, arial, sans-serif;
	font-size: 30px;
}
#pagebtwo{
	margin-left: 20px;
	color: black;
	font-family: helvetica;
	text-decoration: none;
	text-transform: uppercase;
	position: absolute;
	top: 25px;
	right: 12%;
	
	font-family: helvetica, arial, sans-serif;
	font-size: 30px;
}
.languageb{
	margin-left: 20px;
	color: black;
	font-family: helvetica;
	text-decoration: none;
	text-transform: uppercase;
	top: 35px;
	font-family: helvetica, arial, sans-serif;
	font-size: 15px;
	position: absolute;
	right: 5%;
}
#lang:hover{
    border-radius: 15px;
    background: #d6a23f;
    /*padding: 20px;*/
}
/*-----PART2 HEADER END-----*/

/* header body közötti réteg*/
.layer{
	background-color: #df7209;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*----PART2 BODY START-----*/
.container {
	display: table;
	width: 100%;
	overflow: hidden;
}
/*  Check box oldal, "Gyártó és stb..." */
.left-half {
	background-color: #00000;
	position: absolute;
	left: 17%;/*  20% tolva balról */
	width: 14.5%;
	top: 100px;
	overflow: hidden;
}

.right-half {
	background-color: #b6701e;
	position: absolute;
	right: 20%;
	width: 50%;
	top: 100px;
	overflow: hidden;
}
.title{
	border:1px;
	text-align: left;
	padding-left: 20px; 
	font-size: 20px;
}
#row1{
	float: left;
}
.item-box{
	padding: 15px;
	border-style: solid;
	width: 250px;
	height: 400px;
	margin-top: 15px;
	margin-left: 30px;
	margin-bottom: 10px;
	overflow: hidden;
}
.filter-box{
	border-style: solid;
    border : 3px solid #fff;
	width: 150px;
	height: 200px;
	margin-top: 10px;
	margin-left: 20%;
	border-bottom-style: solid;
    border-bottom-color: #92a8d1;
}
.filter-box:hover{
    border-radius: 20px;
    border: 3px solid #d6a23f;
    transition: .5s ease;
}
#image {
	max-width:200px;
  	max-height:150px;
}
.hidden:hover{
	border-style: solid;
    border : 3px solid #d6a23f;
    transition: .5s ease;
}
/*----PART2 BODY END-----*/